
@font-face{
    font-family: "Book";
    src:local("Garet-Book"),
    url('@/assets/fonts/Garet/Garet-Book.ttf') 
}

@font-face{
    font-family: "Heavy";
    src:local("Garet-Heavy"),
    url('@/assets/fonts/Garet/Garet-Heavy.ttf') 
}

@theme {
    --color-ri-dark-green: #2d4637;
    --color-ri-light-green: #9db99d;
}


@import "tailwindcss";
